<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
  </head>
  <body>
    <div class="overview">
	    <%- include('basic', { results } ); %>
      <div class="piechart"></div>
    </div>
    <div class="detail">
      <button class="accordion">BrowserObjectData Placeholder</button>
      <div class="panel">
	<%- include('panel', { results } ); %>
      </div>
    </div>
    <div class="configuration">
      <%- include('description'); %>
      <h2 id="trtitle">Available Test Runs</h2>
      <%- include('testOptions'); %>
      <button id="run">Run</button>
      <h2 id="aectitle">Available Environment Configurations</h2>
      <%- include('browserOptions', { knownDevices }); %>
    </div>
    <script type="module" src="./js/dashboard.js"></script> 
  </body>
</html>
