<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
  </head>
  <body>
    <div class="configuration">
      <%- include('description'); %>
      <h2>Available Environment Configurations</h2>
      <%- include('browserOptions'); %>
      <h2>Available Test Runs</h2>
      <%- include('testOptions'); %>
      <button id="run">Run</button>
    </div>
    <div class="overview">
      <%- include('basic'); %>
      <div class="piechart"></div>
    </div>
    <div class="detail">
      <button class="accordion">BrowserObjectData Placeholder</button>
      <%- include('panel'); %>
    </div>
    <script type="text/javascript" src="./js/dashboard.js"></script> 
  </body>
</html>
