<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/dashboard.css">
  </head>
  <body>
    <div class="configuration">
      <%- include('description'); %>
      <h2 id="aectitle">Available Environment Configurations</h2>
      <%- include('browserOptions', { knownDevices }); %>
      <h2 id="trtitle">Available Test Runs</h2>
      <%- include('testOptions'); %>
      <button id="run">Run</button>
    </div>
    <div class="overview">
      <%- include('basic'); %>
      <div class="piechart"></div>
    </div>
    <div class="detail">
      <button class="accordion">BrowserObjectData Placeholder</button>
      <div class="panel">  

    <h2>Test Results</h2>
    <ul>
      <% results.forEach((result, index) => { %>
        <li>
          <strong>Result #<%= index + 1 %></strong>
          <p>Title: <%= result.title %></p>
          <p>Time: <%= result.time %></p>
          <p>Valid: <%= result.isValid ? 'Yes' : 'No' %></p>
        </li>
      <% }); %>
    </ul>
  </div>
    </div>
    <script type="module" src="./js/dashboard.js"></script> 
  </body>
</html>
