<!DOCTYPE html>
<html>
    <div class="panel">
      <table>
        <thead>
          <tr>
            <th>Result #: </th>
            <th>Title: </th>
            <th>Time: </th>
            <th>Valid: </th>
          </tr>
        </thead>
	<tbody>
	<% results.slice(currentPage * pageSize, (currentPage + 1) * pageSize).forEach(result => { %>
          <tr>
            <td><%= result.entry %></td>
            <td><%= result.title %></td>
            <td><%= result.time %></td>
            <td><%= result.isValid ? 'Yes' : 'No' %></td>
          </tr>
        <% }); %>
      </tbody>
       </table>
         <div class="pagination">
           <button id="prevButton" <%= currentPage === 0 ? 'disabled' : '' %>>Previous</button>
           <button id="nextButton" <%= currentPage === totalPages - 1 ? 'disabled' : '' %>>Next</button>
         </div>
     </div>
   </div>
</html>
